/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

/*Header*/
.header {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    /* margin-top: 1rem; */
    }
    
    .title-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 300;
    }
    
    .title-container img {
        width: 2rem;
        height: 2rem;
    }
    
    .nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Ubuntu', sans-serif; 
        font-weight: 300;
        font-size: 0.7rem;
    }
    
    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .nav-bar .nav-icon {
        width: 1rem;
        height: 1rem;
        /* position: relative; */
        /* padding-left: 2rem;
        padding-bottom: 2.5rem; */
    }
    
    .nav-icon {
        padding: 0%;
    }
    
    .nav-bar img {
        width: 0.7rem;
        height: 0.7rem;
        position: relative;
        /* padding-left: 2rem; */
    }
    
    .nav-bar a {
        text-decoration: none; 
        color: white;
        /* padding: 0; */
        display: flex;
        text-align: left;
    }
    
    .nav-link-green {
        background-color: rgb(40, 188, 126); 
      }
      
      .nav-link-yellow {
        background-color: rgb(246, 197, 50);
      }
      
      .nav-link-red {
        background-color: rgb(215, 87, 87);
      }
      
      .nav-link-blue {
        background-color: rgb(37, 130, 164);
      }
      
      .nav-link-indigo {
        background-color: rgb(13, 86, 146);
      }
    
      .text-and-arrow {
        display: flex;
        justify-content: center;
      }
      
      .nav-bar a {
        text-decoration: none; 
        color: white;
        /* padding: 0.5rem; */
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 5rem;
        height: 4.5rem;
      }
      
      .nav-bar img {
        width: 0.5rem;
        height: 0.5rem;
        margin-left: 0.1rem; 
    } 
      
    .nav-bar .nav-icon {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem; 
        margin-top: 1.5rem;
    }
    
    .text-and-arrow {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        /* margin-bottom: 1rem; */
        gap: 1.5rem;
    }
    .text-and-arrow img {
        margin-top: 0.3rem;
    }
    

/*Main*/

.main {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
}

.carousel-container {
    display: flex;
    align-content: center;
    justify-content: center;
  background-color: rgb(213, 213, 213);
}
.carousel-container img {
    width: 70%;
}

.intro-text-container {
    text-align: center;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 0;
    font-size: 1rem;
    width: 70%;
    padding: 2rem;
}
span {
    color: rgb(0, 195, 255);
}

.four-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Ubuntu', sans-serif; 
    font-weight: 300;
    font-size: 1rem;
}
.card .widget {
    width: 5rem;
    height: 5rem;
}

.four-cards-container .card {
    width: 30%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}
.banner-title {
    display: block;
    margin-bottom: 0%;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 500;
    font-size: 1rem;
}
/* h3, Used several times*/

.banner-subtitle {
    display: block;
    color: grey;
    margin: 0.5rem;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 500;
    font-size: 1rem;
}
/* h6, Used several times*/

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    align-items: center;
    width: 60%;
}

.card-container img {
    width: 15rem;
    height: 13rem;
}

.card-container .card-text {
    color: grey;
    font-weight: 300;
    font-size: 0.5rem;
}

.whats-up-lately-section {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(90deg, rgb(0, 195, 255), rgb(0, 195, 255) 25%, grey 25%);
    background-size: 100% 0.2rem;
    background-repeat: no-repeat;
    background-position: bottom;
}

.three-card-container {
    display: flex;
    justify-content: center;
    width: 70%;
}


.six-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.two-cards {
  align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.card-title {
    margin-top: 1rem;
    margin-bottom: 0%;
}

.card-text {

} 

.client-board {
    display: flex;
    justify-content: space-evenly;
}

/*Footer*/
.footer {
    background-color: rgb(29, 29, 72);
    color: white;
}

.author-desc {

}

.hr {

}

.footer-items {
display: flex;
justify-content: space-evenly;
}

.about-us {

}

.flickr-photos {

}

.recent-tweets {

}

.newsletter {

}

/* MEDIA QUERIES */

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}