/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

/*Header*/
.header {
display: flex; 
justify-content: space-evenly;
align-items: center;
font-family: 'Ubuntu', sans-serif;
}

.title-container {

}

.nav-bar {
 
}

/*Main*/

.main {
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
}

.carousel-container {
  
}

.intro-text-container {
    text-align: center;
}

.four-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.banner-title {
    display: block;
}
/* h3, Used several times*/

.banner-subtitle {
    display: block;
    color: grey;
}
/* h6, Used several times*/



/* Our Latest Projects Adjustments */

.blue-img {
    width: 302px;
}

.six-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

/* Clients Adjustment */

.client-board {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 60px;
}

.img-client {
    width: 170px;
}

/* FOOTER */

/* footer adjustments */
.footer {
    background-color: #16242f;
    color: white;
    padding: 10px;
    padding-left: 250px;
    padding-right: 250px;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-size: 14px;
    margin-top: 0px;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

p {
    font-size: 12px;
    font-weight: lighter;
}

/* Peewee Herman description adjustments */

.description {
    display: flex;
    flex-direction: row;
}

.description h2{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.description p{
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    margin-top: 0px;
}

.text-description {
    margin-left: 15px;
}

.pfp {
    height: 60px;
}

/* Description Row Adjustments */

.desc-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.desc-row p{
    font-size: 10px;
}

/* About us adjustments*/

.about-us {
    width: 550px;
}

.sm-pics {
    height: 25px;
    align-items: flex-end;
}

/* flickr photos adjustments */

.flickr-photos {
    width: 550px;
}

.minions-pic {
    height: 50px;
    margin: 1px;
}

.minions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* recent tweets adjustments */

.recent-tweets {
    width: 550px;
}

.twitter-logo {
    height: 30px;
}

.tweet-1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.tweet-1 p {
    margin-top: 0px;
}

.tweet-2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.tweet-2 p {
    margin-top: 0px;
}

/* Newsletter adjustments */

.newsletter {
    width: 550px;
}




/* MEDIA QUERIES */

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}